
.filter_nav {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .filter_nav > div {
    background-color: #f1f1f1;
    color: black;
    margin: 5px 5px 5px 5px;
   
    text-align: center;
    line-height:50px;
    font-size: 12px;
  }
  .issue_list_con{
    box-shadow: 0px 0px 1px 0px #353434;

      box-sizing: border-box;
    width:100%;
    padding:10px;
    height:100px;
    
    background-color:white;
  }
  .main_container{
      
      width: 80%;
      margin: auto;
      box-shadow: 0px 0px 2px 0px #1f1f1f;

  }
  .main_con{
      position: relative;
        line-height: 25px;
  }
  .cmt_bl{
    margin-top:30px;float:right;
  }
  .main_con p{
      margin-left: 30px;
  }
  .left_bl{
  left: 0px;position: absolute;
  }
  .main_con .issue_name{
      font-size: 18px;
  }